# Set these to override the default config in config/database.yml
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/boilerplate_development
# DATABASE_TEST_URL=postgres://postgres:postgres@localhost:5432/boilerplate_test

FRONTEND_ORIGIN="localhost:3001"

SECRET_KEY_BASE="generate a new secret key using bundle exec rails secret"

ACTION_MAILER_GMAIL_ACCOUNT="your_test_email_address@gmail.com"
# the gmail password is not the password you use to log into the account, but the gmail app password for your account.
ACTION_MAILER_GMAIL_PASSWORD="gmail app password"
# this email is the inbox that receives emails sent to us through the boilerplate contact-us form:
CONTACT_SUBMISSION_ADMIN_EMAIL="boilerplate.app.test@gmail.com"
