<p>Hi <%= @user.first_name %>,</p>
<p>You are receiving this email because you have requested a password reset for your Boilerplate account.</p>
<p>Please use this code to reset your password: <%= @user.password_reset_token %></p>
<p>This code will expire one hour from password reset request.</p>
<p>To reset your password please enter your code in the form <%= link_to "here", "#{Rails.env.development? ? "http" : "https"}://#{ENV.fetch('FRONTEND_ORIGIN')}/reset_password" %>.</p>
<p>If you did not request your password to be reset please ignore this email and your password will stay as it is.</p>
