<p>Hello,</p>
<p>A new user named <%= @invitation.user.first_name %> <%= @invitation.user.last_name %> has accepted your invitation to <%= @invitation.organization.name %>.</p>
<p>To view and edit this user's account, you can visit the users index from your organization dashboard.</p>
